@model List<IceCreamParlour.Models.CartItem>
@section jsFooter{

    <script src="~/Areas/Local/assets/js/controllers/cartController.js"></script>
}
<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Code</td>
                        <td>Title</td>
                        <td>Image</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Into Money</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @{double a = 0;
                    }
                    @foreach (var item in Model)
                    {
                        a = a + item.Book.Price * item.Quantity;
                        <tr>
                            <td>@item.Book.Book_Id</td>
                            <td>@item.Book.Title</td>
                            <td><img src="~/Areas/Local/BookImages/@Url.Content(item.Book.Image)" width="100" /></td>
                            <td>@item.Quantity</td>
                            <td>@item.Book.Price.ToString("N0")</td>
                            <td>@((item.Book.Price * item.Quantity).ToString("N0"))</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="5">Total Amount</td>
                        <td>@a.ToString("N0")</td>
                    </tr>
                </tbody>
            </table>
            using (Html.BeginForm("ConfirmPayment", "Cart", FormMethod.Post))
            {
                if (Session["UserId"] == null || Session["UserId"] == "")
                {
                    <div class="section group">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input name="Name" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input name="Address" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input name="Email" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input name="Contact" class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label>Card No</label>
                                <input name="CardNo" class="form-control" id="numb" />
                                <p id="demo"></p>
                            </div>

                            <button id="btnConfirmPayment" class="btn btn-success" onclick="myFunction()">Payment</button>

                        </div>
                    </div>
                }
                else
                {
                    <button id="btnConfirmPayment" class="btn">Payment</button>
                }
            }
        }
        else
        {
            <span class="alert alert-danger">There are no products in the cart yet</span>
        }
    </div>
</div>
<script>
    function myFunction() {
        let x = document.getElementById("numb").value;
        let text;
        if (isNaN(x) || x < 1 || x > 10) {
            text = "Input not valid";
        } else {
            text = "Input OK";
        }
        document.getElementById("demo").innerHTML = text;
    }
</script>

