@model IceCreamParlour.Models.Admin

@{
    Layout = "~/Areas/Local/Views/Shared/_AdminView.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-md-5">
        <h3 style="text-align:center">Welcome @Session["Name"]</h3>
        @using (Html.BeginForm("ChangePass", "LoginAdmin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="card">
                <div class="card-header" style="text-align:center">Change Password</div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.Label("Old Password", new { @for = "Password" })  <br />
                        @Html.Password("Password")
                    </div>
                    <div class="form-group">
                        @Html.Label("New Password", new { @for = "newPassword" }) <br />
                        @Html.Password("newPassword")
                    </div>
                    <div class="form-group">
                        @Html.Label("Confirm Password", new { @for = "Confirmpwd" }) <br />
                        @Html.Password("Confirmpwd")
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-dark" value="ChangePass" />
                    </div>
                </div>
            </div>
        }
    </div>@Html.Raw(TempData["msg"])
</div>