@model IceCreamParlour.Models.Admin

@{
    Layout = "~/Areas/Local/Views/Shared/_AdminView.cshtml";
}

<div style="text-align: center; padding-top: 50px;">
    <h3>Welcome @Session["Name"]</h3>
    @*@using (Html.BeginForm())*@
    @using (Html.BeginForm("ChangePass", "LoginAdmin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <fieldset>
                <legend>Change Password</legend>
                <table>
                    <tr>
                        <td>@Html.Label("Old Password", new { @for = "Password" }) :  </td>
                        <td>@Html.Password("Password")</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("New Password", new { @for = "newPassword" }) :</td>
                        <td>@Html.Password("newPassword")</td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Confirm Password", new { @for = "Confirmpwd" }) : </td>
                        <td>@Html.Password("Confirmpwd")</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="ChangePass" /></td>
                    </tr>
                </table>
            </fieldset>

        @*<div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
        </div>
        <div class="form-group">
            @Html.Label("New Password", new { @for = "newPassword" }) :
            @Html.Password("newPassword")
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confim Password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
        </div>
        <input type="submit" value="Change Password" />*@
    }
</div>@Html.Raw(TempData["msg"])
