
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ice-cream Parlour Management</title>
    <!-- core:css -->
    @*<link rel="stylesheet" href="~/Areas/Local/assets/vendors/core/core.css">*@
    <link href="~/Areas/Local/assets/vendors/core/core.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/Areas/Local/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Areas/Local/assets/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="~/Areas/Local/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Areas/Local/assets/css/demo_1/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Areas/Local/assets/images/favicon.png" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="main-wrapper">

        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="#" class="sidebar-brand">
                    Ice<span>-Cream</span>
                </a>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="sidebar-body">
                <ul class="nav">
                    <li class="nav-item nav-category">Main</li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Admins")">
                            <i class="nav-item" data-feather="user-plus"></i>
                            <span class="link-title">Admins</span>
                        </a>
                    </li>

                    <li class="nav-item nav-category">Product</li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Books")">
                            <i class="nav-item" data-feather="book"></i>
                            <span class="link-title">Books</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Recipes")">
                            <i class="nav-item" data-feather="menu"></i>
                            <span class="link-title">Recipes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Flavors")">
                            <i class="nav-item" data-feather="gift"></i>
                            <span class="link-title">Flavors</span>
                        </a>
                    </li>

                    <li class="nav-item nav-category">User</li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Users")">
                            <i class="nav-item" data-feather="user"></i>
                            <span class="link-title">Account</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Orders")">
                            <i class="nav-item" data-feather="smile"></i>
                            <span class="link-title">Orders</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Subscription_Payment")">
                            <i class="nav-item" data-feather="calendar"></i>
                            <span class="link-title">Subscription</span>
                        </a>
                    </li>

                    <li class="nav-item nav-category">Other</li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Feedbacks")">
                            <i class="nav-item" data-feather="mail"></i>
                            <span class="link-title">Feedbacks</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="settings-sidebar">
            <div class="sidebar-body">
                <a href="#" class="settings-sidebar-toggler">
                    <i data-feather="settings"></i>
                </a>
                <h6 class="text-muted">Sidebar:</h6>
                <div class="form-group border-bottom">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="sidebarThemeSettings" id="sidebarLight" value="sidebar-light" checked>
                            Light
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="sidebarThemeSettings" id="sidebarDark" value="sidebar-dark">
                            Dark
                        </label>
                    </div>
                </div>
            </div>
        </nav>
        <!-- partial -->

        <div class="page-wrapper">

            <!-- partial:partials/_navbar.html -->
            <nav class="navbar">
                <a href="#" class="sidebar-toggler">
                    <i data-feather="menu"></i>
                </a>

                <div class="navbar-content">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flag-icon flag-icon-vn mt-1" title="vn"></i> <span class="font-weight-medium ml-1 mr-1">Vietnam</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown nav-profile">
                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="https://via.placeholder.com/30x30" alt="profile">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                <div class="dropdown-header d-flex flex-column align-items-center">
                                    <div class="info text-center">
                                        @if (Session["Name"] != null)
                                        {
                                            <p>Name: @Session["Name"].ToString()</p>
                                            <p>Email: @Session["Email"].ToString()</p>
                                        }
                                    </div>
                                </div>
                                <div class="dropdown-body">
                                    <ul class="profile-nav p-0 pt-3">
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("Details", "Admins", new {id = Session["Admin_Id"].ToString() })">
                                                <i data-feather="user"></i>
                                                <span class="link-title">Profile</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("ChangePass", "LoginAdmin", new {id = Session["Admin_Id"].ToString() })">
                                                <i data-feather="edit"></i>
                                                <span class="link-title">Change Password</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("Logout","LoginAdmin")" class="nav-link">
                                                <i data-feather="log-out"></i>
                                                <span class="btn btn-outline-primary">Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- partial -->

            <div class="page-content">
                @RenderBody()
            </div>

            <!-- partial:partials/_footer.html -->
            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
                <p>
                    &copy; <span id="displayYear"></span>
                    <a>Ice-cream Parlour</a>
                </p>
            </footer>
            <!-- partial -->

        </div>
    </div>

    <!-- core:js -->
    <script src="~/Areas/Local/assets/vendors/core/core.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="~/Areas/Local/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="~/Areas/Local/assets/vendors/jquery.flot/jquery.flot.js"></script>
    <script src="~/Areas/Local/assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
    <script src="~/Areas/Local/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Areas/Local/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="~/Areas/Local/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <!-- end plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Areas/Local/assets/vendors/feather-icons/feather.min.js"></script>
    <script src="~/Areas/Local/assets/js/template.js"></script>
    <!-- endinject -->
    <!-- custom js for this page -->
    <script src="~/Areas/Local/assets/js/dashboard.js"></script>
    <script src="~/Areas/Local/assets/js/datepicker.js"></script>
    <!-- end custom js for this page -->
</body>
</html>