@model IEnumerable<IceCreamParlour.Models.Flavor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Local/Views/Shared/_AdminView.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Flavor_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakingProcess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameTrimmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InTrimmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MkTrimmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesTrimmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageTrimmed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Flavor_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Flavor_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Flavor_Id },
            new { onclick = "return confirm('Are you sure you wish to delete this feedback?');" })
        </td>
    </tr>
}

</table>
