@using PagedList
@using PagedList.Mvc;
@model IPagedList<IceCreamParlour.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Local/Views/Shared/_AdminView.cshtml";
}

<h2>Customer Account</h2>


@using (Html.BeginForm("Index", "Users", FormMethod.Get))
{
    <p>
        <br />
        Search by Customer's Name':
        @Html.TextBox("Search_Data", ViewBag.FilterValue as string, new { @class = "form-control", @placeholder = "Enter Customer's Name..." })
        <input type="submit" class="btn btn-outline-google" value="Find" />
    </p>
}
<center>
    <input type="text" id="txtSearch" placeholder="Enter Customer Name..." />
    <hr />
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { Sort_Order = ViewBag.SortName })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Contact)*@
                Phone
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.First().UserType)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Card_No)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.First().JoinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsActive)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IsDelete)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailTrimmed)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Card_No)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.JoinDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IsDelete)
                    </td>*@
                <td>
                    @*<a href="@Url.Action("Edit", "Admins", new { id = item.Admin_Id })" class="btn btn-inverse-warning">Edit</a>*@
                    <a href="@Url.Action("Details", "Users", new { id = item.User_Id})" class="btn btn-inverse-secondary">Details</a>
                    <a href="@Url.Action("Delete", "Users", new { id = item.User_Id})" class="btn btn-inverse-danger" onclick="return confirm('Are you sure you wish to delete this user?');">
                        Delete
                    </a>
                </td>
            </tr>
        }

    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("#txtSearch").on("keyup", function () {
            var txtEnter = $(this).val();
            $("table tr").each(function (result) {
                if (result !== 0) {
                    var id = $(this).find("td:nth-child(1)").text();
                    if (id.indexOf(txtEnter) !== 0 && id.toLowerCase().indexOf(txtEnter.toLowerCase()) < 0) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                }
            });
        });
    </script>
</center>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No, Sort_Order = ViewBag.CurrentSort }))